body{background-color: #f5f5dd;}
div#jeden,#dwa,#trzy,#cztery{
    height: 200px;
    width: 200px;
}
#jeden{
    background-color: black;
}

#dwa{
    background-color: rgba(0, 0, 0, 0.601);
}

#trzy {
    background-color: rgba(0, 0, 0, 0.453);
}

#cztery{
background-color: rgba(0, 0, 0, 0.142);
}
